@import url('../assets/font/aileron.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
/* Globals */

html, body {
    font-size: 10pt; /* All Fonts use em based on multiples of 10 */
    line-height: 10pt;
    height: 100%;
    width: 100%;
}
img { max-width: 100%; }
a { text-decoration: none !important; }
hr {
    border: 0;
    border-top: 1px solid #e7eaf3;
}
/* Header Font */
h1, h2, h3, h4, h5, h6 { 
    font-family: 'Aileron', Lato, Arial, Helvetica, sans-serif, Arial, sans-serif;
    line-height: 1.45em;
    text-decoration: none !important;
}
h1 {
    font-size: 5.3em;
    font-weight: 900;
    letter-spacing: normal;
    text-transform: uppercase;
}
.thin { font-weight: 500; }
h2 {
    font-size: 1.3em;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.1em;
}
h3 {
    font-family: 'Aileron', Arial, Helvetica, Arial, sans-serif;
    font-size: 1.4em;
    font-weight: 500;
    text-transform: uppercase;
}
h4 {
    font-size: 1.4em;
    font-weight: 400;
}
.list-head{ font-weight: 700; }

/* Body Font */
p, .p {
    font-family: 'Roboto', Arial, Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5em;
}
.lead {
    font-family: 'Aileron', Lato, Arial, Helvetica, sans-serif, Arial, sans-serif;
    font-size: 1.8em;
    font-weight: 200;
}
.nav-link {
    font-family: 'Roboto', Arial, Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: none;
}
.sub-link {
    font-size: 1.3em;
    font-weight: 500;
    text-decoration: none !important;
    padding: 0px 20px;
}
section:not(.text-light) .sub-link { color: #f1f1f7; }
section .nav-item:not(.active):not(.disabled):not(:hover) { opacity: .5; }
section .nav-item { transition: opacity 0.2s linear; }

/* Colors */
:root {
    --light-color: hsla(240, 5%, 96%, 1); /* Background for Dark-On-Light Designs or Text for Inverted */
    --light-accent: hsla(210, 22%, 65%, 1); /* Accents are used to bring attention to design elements */
    --primary-color: hsla(6, 100%, 62%, 1); /* Wampa Red */
    --secondary-color: hsla(203, 67%, 33%, 1); /* Wampa Blue */
    --dark-accent: hsla(4, 34%, 57%, 1); /* Accents are used to bring attention to design elements */
    --dark-color: hsla(209, 100%, 12%, 1); /* Background for Light-On-Dark Designs or Text for Inverted */
}
.light { color: var(--light-color); } 
.light-accent { color: var(--light-accent); }
.primary { color: var(--primary-color); } 
.secondary { color: var(--secondary-color); } 
.dark-accent { color: var(--dark-accent); }
.dark { color: var(--dark-color); } 

.bg-light { background-color: var(--light-color); }
.bg-light-accent { background-color: var(--light-accent); }
.bg-primary { background-color: var(--primary-color); }
.bg-secondary { background-color: var(--secondary-color); }
.bg-dark-accent { background-color: var(--dark-accent); }
.bg-dark { background-color: var(--dark-color) !important; }

.f-light { fill: var(--light-color); }
.f-light-accent { fill: var(--light-accent); }
.f-primary { fill: var(--primary-color); }
.f-secondary { fill: var(--secondary-color); }
.f-dark-accent { fill:var(--dark-accent); }
.f-dark { fill: var(--dark-color); }

.text-muted{ color: #8c98a4 }

/* Navagation Bars */
.nbar-gradient {
    background: linear-gradient(#1C638E -10%, 10%, rgba(0,0,0,0));
    z-index: 99999;
    position: fixed;
}
.nbar-light {
    position: static;
    border-bottom: 1px solid rgba(27,31,59,0.08);
    box-shadow: 0 1px 10px rgba(151, 164, 175, 0.1);
    background: #F4F4F5;
}
.nbar-dark {
    position: static;
    background: #00203E;
}
.navbar {
    width: 100%;
    padding: 0 5%;
    transition: all 350ms ease;
}
.scrolled { background: #00203E; }
.navbar-toggler-icon-light {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(244, 244, 245, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navbar-toggler-icon-dark {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 32, 62, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.nav { padding: 50px; }
.nav-item{ padding-left: 25px; }

/* Navbar Navigation Links */
.nbar-gradient ul a, .nbar-dark ul a {
    color: #F4F4F5;
    background-image: linear-gradient(#FF523D, #FF523D);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s ease, color 350ms ease;
}
.nbar-gradient ul a:hover, a:focus, .nbar-dark ul a:hover, a:focus {
    background-size: 100% 2px;
    color: #FF523D
}
.nbar-light ul a {
    color: #003a70;
    background-image: linear-gradient(#FF6F64, #FF6F64);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s ease, color 350ms ease;
}
.nbar-light ul a:hover, a:focus {
    background-size: 100% 2px;
    color: #1C638E
}

/* Headers */
.header-inner{
    padding: 0;
    display: block;
}
.header-inner .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 6rem;
}
.divider { position: relative; }
.divider svg {
    background: none !important;
    height: 6vw;
    overflow: hidden;
    vertical-align: middle;
}
.layer-1 { z-index: 1; }
.layer-2 { z-index: 2; }
.layer-3 { z-index: 3; }

/* Logo */
.logo {
    width: 75px;
    height: 75px;
}

/* Buttons */
.btn {
    display: inline-block;
    font-weight: 500;
    color: #B7716C;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.4375rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.3125rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-round {
    border-radius: 50%;
    width: 3.0rem;
    height: 3.0rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-text {
    border-radius: 1rem;
    width: 10.0rem;
    height: 3.0rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn.btn-primary * { fill: #f1f1f7; }
.btn-primary {
    color: #f1f1f7;
    background-color: #FF523D;
    border-color: #FF523D;
}
.btn-primary:hover {
    background-color: #94A7BA;
    border-color: #94A7BA;
}
.icon {
    flex-shrink: 0;
    width: auto;
    height: 1.2rem;
    width: 1.2rem;
}
.list-inline { padding-left: 0; list-style: none; }
.list-inline-item { display: inline-block; }

/* Icons */
.services .fas {
    font-size: 40px;
    padding-bottom: 15px;
}
.hero .fab {
    font-size: 40px;
    padding: 15px 0;
}
#footer i[class*="fa-"] {
    font-size: 40px;
    padding: 15px;
    background-image: linear-gradient(#FF523D, #FF523D);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
}
i[class*="fa-"]:hover, focus {
    color: #FF523D;
    transition: all 250ms ease;
}

/* Content Sections */
.card-round {
    border-radius: 0.625rem !important;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.card-content { padding: 20px; }
.color-fill { background-color: rgba(0, 0, 0, 0.1); }
.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 80vh;
    width: 100%;
    padding: 0px 10%;
    margin: 0px auto;
    text-shadow: 1px 1px 2px #00203E;
}
.bg-image {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    mix-blend-mode: multiply;
}
.has-divider { padding: 0; }
.p-0 { padding: 0 !important; }
section {
    width: 100%;
    height: auto;
    position: relative;
}
.about { padding: 75px 100px 50px 100px; }
.services {
    padding: 25px 25px 75px 25px;
    position: relative;
}
.about .div-img-bg {
    border: 20px solid #FF523D;
    padding-bottom: 30px;
}
.about .div-img-bg .about-img img {
    width: 100%;
    box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
    margin: -60px 0px 0px 40px;
    height: 400px;
    object-fit: cover;
}
#fixed {
    background-image: url('../assets/img/box.jpg');
    display: table;
    height: 60%;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}
.portfolio-filter {
    width: auto;
    margin-bottom: 2.25rem;
}
.portfolio-page { padding-top: 8rem; }
.portfolio-page .container-fluid { padding: 0 6%; }
.portfolio-heading { font-size: 2.3em; }
.rounded {
    margin-bottom: 1.5rem;
    border-radius: 0.625rem !important;
}
.grid-item { margin-bottom: 2.25rem; }
.gallery { padding-top: 3rem; }
.social-media { display: inline-block; }
.footer-hr { max-width: 50%; }
#footer {
    width: 100%;
    padding: 50px 0;
}
#footer .container-fluid { padding-bottom: 40px; }
.w-40 { width: 40% !important; }

@media (max-width: 768px) {
    .padding-100{ padding: 0px 5px; }
    .lead{ font-size: 1.5em; }
    .navbar { width: 100%; }
    .container { max-width: 720px; }
    h1 { font-size: 2em; }
    h2 {
        font-size: 1em;
        line-height: 0.7em;
    }
    h3 {
        font-size: 1.3em;
        font-weight: 400;
    }
    .about .div-img-bg { padding: 0; }
    .about .div-img-bg .about-img img {
        width: 100%;
        box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
        height: 400px;
        object-fit: cover;
        margin-top: 0%;
        margin-left: calc(0% - 0px);
    }
    .container-fluid{ padding: 20px; }
    .services { padding-bottom: 10px; }
    .about{ padding-top: 10px; }
    .nav-link { padding-bottom: 25px; }
    .portfolio-page .container-fluid { padding: 0 3%; }
}
@media (max-width: 600px){
    #fixed{ background-image: url('../assets/img/box-mobile.jpg') }
    .w-sm-30{ width: 30% !important; }
}