---
layout: page-dark
title: Commissions
description: How Commissions Work
nav-color: nbar-dark
steps:
  - name: Sewing
    icon: fas fa-magic
    card-short: Some quick example text to build on the card title and make up the bulk of the card's content.
    header: Change the way you build wesites. Forever.
    body: With you get components and examples, including tons of variables that will help you customize this theme with ease.
  - name: Sewing
    icon: fas fa-magic
    card-short: Some quick example text to build on the card title and make up the bulk of the card's content.
    header: Change the way you build wesites. Forever.
    body: With you get components and examples, including tons of variables that will help you customize this theme with ease.
  - name: Sewing
    icon: fas fa-magic
    card-short: Some quick example text to build on the card title and make up the bulk of the card's content.
    header: Change the way you build wesites. Forever.
    body: With you get components and examples, including tons of variables that will help you customize this theme with ease.
  - name: Sewing
    icon: fas fa-magic
    card-short: Some quick example text to build on the card title and make up the bulk of the card's content.
    header: Change the way you build wesites. Forever.
    body: With you get components and examples, including tons of variables that will help you customize this theme with ease.
---
<script src="../js/jquery.localScroll.min.js" type="text/javascript"></script>
<script src="../js/jquery.scrollTo.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#nav-cards').localScroll({ duration: 800, offset: -100 });
    });
</script>
<section class="pb-300">
    <span class="padder"></span>
</section>
<section class="card-slice bg-light">
    <div class="container height-custom" id="nav-cards">
        <div class="row">
            {% for item in page.steps %}
            <div class="col-lg-3 mt--200">
                <div class="card hover-translate-y-n10 hover-shadow-lg">
                    <div class="px-4 py-5">
                        <i class="h1 {{ item.icon }}"></i>
                    </div>
                    <div class="px-4 pb-5">
                        <h5>{{ item.name }}</h5>
                        <p class="text-muted">{{ item.card-short }}</p>
                        <a href="#{{ item.name }}" class="p link-underline-primary">Find out more</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="process">
    {% for item in page.steps %}
        <div class="section-process-step">
            <a name="{{ item.name }}"></a>
            <div class="container">
                <div class="row row-grid align-items-center justify-content-between">
                    <div class="col-xl-5 col-lg-6 {% cycle 'order-lg-2', 'order-lg-1' %}">
                        <div class="pr-md-4">
                            <span class="p badge badge-red-white badge-pill">{{ item.name }}</span>
                            <h3 class="mt-4">{{ item.header }}</h3>
                            <p class="lead mb-4">{{ item.body }}</p>
                        </div>
                    </div>
                    <div class="col-lg-5 {% cycle 'order-lg-1', 'order-lg-2' %}">
                        <img alt="placeholder" src="https://via.placeholder.com/920x1100" class="img-center img-fluid rounded-lg shadow-lg" />
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</section>
<section class="contact-details">
    <div class="row no-gutters">

    </div>
</section>
<script src="{{ site.url }}/js/form.js"></script>
<form action="https://app.99inbound.com/api/e/QQ7a2m8Q" method="POST" accept-charset="UTF-8" target="_blank">
    <section class="contact-form">
        <div class="form-title">
            <h2>Tell me about your idea</h2>
            <p class="lead">Whether you have questions or you would just like to say hello, contact us.</p>
        </div>
        <div class="form-group" id="name-input">
            <label class="p">Your Name<span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="name" placeholder="Jack Wayley" required data-msg="Please enter your name." data-error-class="form-error" data-success-class="form-success" />
        </div>
        <div class="form-group">
            <label class="p" for="contactPreferences">How would you like me to get in touch?</label>
            <select class="form-control" id="contactPreferences">
                <option value="email">Via Email</option>
                <option value="phone">Via Phone</option>
                <option value="facebook">Via Facebook</option>
            </select>
        </div>
        <div class="form-group" id="email-div">
            <label class="p" for="contactInfoEmail">Your Email</label>
            <input type="email" class="form-control" id="email" placeholder="xXJediXx420@theForce.com" />
        </div>
        <div class="form-group" id="phone-div">
            <label class="p" for="contactInfoPhone">Your Phone Number</label>
            <input type="tel" class="form-control" id="phone" placeholder="0420800800" />
        </div>
        <div class="form-group" id="facebook-div">
            <label class="p" for="contactInfoFacebook">Link me your profile!</label>
            <input type="url" class="form-control" id="facebook" placeholder="https://www.facebook.com/NotABountyHunter" />
        </div>
        <div class="form-group" id="project-input">
            <label class="form-label p">Tell me briefly about your project</label>
            <textarea class="form-control" id="projectoutline" rows="6" maxlength="400"></textarea>
        </div>
        <button type="submit" class="btn btn-primary p submit-button">You may fire when ready</button>
    </section>
</form>