<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wampa - {{ page.title }}</title>
    <link rel="canonical" href="https://wampastomper.com/" />
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="cosplay,star wars,instagram,cosplaying,girl cosplay">
    <meta name="author" content="Wampa Stomper">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ff523d">
    <link rel="shortcut icon" href="assets/brand/favicon.png">
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/progressively/1.2.5/progressively.min.css">
    <script async src="../js/typewriter.js"></script>
    <script async src="https://cdn.jsdelivr.net/npm/progressively/dist/progressively.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/animsition.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
{{ content }}
</html>
